<header class="site-header">
    <div class="container header-inner">
        <a class="logo" href="index.html" aria-label="Go to homepage">
            <img class="logo-img" src="images/logo.jpg" alt="Su Women’s Health">
        </a>


        <!--Hamdburger menu-->
        <!--<button class="nav-toggle" type="button" aria-controls="site-nav" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      Menu
    </button>-->

        <button class="nav-toggle" type="button" aria-controls="site-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>

            <span class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </button>


        <!--Normal Menu-->
        <nav id="site-nav" class="site-nav" aria-label="Primary navigation">
            <a href="services.html">Services</a>
            <a href="classes.html">Massages</a>
            <a href="services.html#pricing">Pricing</a>
            <a href="../blog.html">Blog</a>
            <a href="about.html">About</a>
            <a href="contact.html" class="btn btn-small">Book / Contact</a>
        </nav>
    </div>
</header>